#include <dt-bindings/zmk/mouse.h>
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <240>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };

        lt: layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <240>;
            quick-tap-ms = <150>;
            bindings = <&mo>, <&kp>;
        };
    };

    chosen { zmk,matrix_transform = &default_transform; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&hm ESCAPE Q      &kp W        &kp F           &kp P           &kp B            &kp J     &kp L            &kp U            &kp Y        &kp SEMICOLON
&hm LEFT_SHIFT A  &hm LCTRL R  &hm LEFT_WIN S  &hm LEFT_ALT T  &kp G            &kp M     &hm RIGHT_ALT N  &hm RIGHT_WIN E  &hm RCTRL I  &hm RIGHT_SHIFT O
&kp Z             &kp X        &kp C           &kp D           &kp V            &kp K     &kp H            &kp COMMA        &kp PERIOD   &kp SLASH
&kp F1            &kp F2       &kp ENTER       &kp SPACE       &kp BACKSPACE    &kp LEFT  &kp UP           &kp RIGHT        &kp SQT      &kp MINUS
                               &kp F4          &lt 2 F5        &lt 1 F6
            >;
        };

        prog_layer {
            bindings = <
&hm ESCAPE Q      &kp W        &kp F           &kp P           &kp B            &kp EXCLAMATION  &kp POUND      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PIPE
&hm LEFT_SHIFT A  &hm LCTRL R  &hm LEFT_WIN S  &hm LEFT_ALT T  &kp G            &kp AT           &kp EQUAL      &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp COLON
&kp Z             &kp X        &kp C           &kp D           &kp V            &kp PERCENT      &kp AMPERSAND  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SLASH
&kp F1            &kp F2       &kp ENTER       &kp SPACE       &kp BACKSPACE    &kp LEFT         &kp UP         &kp RIGHT             &kp SQT                &kp MINUS
                               &lt 0 F4        &lt 2 F5        &lt 1 F6
            >;
        };

        num_layer {
            bindings = <
&trans  &trans  &trans    &trans    &trans      &kp ASTRK  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp MINUS
&trans  &trans  &trans    &trans    &trans      &kp SLASH  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp PLUS
&trans  &trans  &trans    &trans    &trans      &trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp ENTER
&trans  &trans  &trans    &trans    &trans      &trans     &trans        &trans        &kp NUMBER_0  &kp PERIOD
                &lt 0 F4  &lt 2 F5  &lt 1 F6
            >;
        };
    };
};
