# Main keyboard name if using Arcturis shield
if SHIELD_ARCTURIS
    config ZMK_KEYBOARD_NAME
        default "Arcturis"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y
endif

# Enable split mode if either left or right shield is selected
if SHIELD_ARCTURIS_LEFT || SHIELD_ARCTURIS_RIGHT
    config ZMK_SPLIT
        default y
endif
