if SHIELD_ARCTURIS

config ZMK_KEYBOARD_NAME
    default "Arcturis"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

if SHIELD_ARCTURIS_LEFT || SHIELD_ARCTURIS_RIGHT

config ZMK_SPLIT
    default y

endif