#include "arcturis.dtsi"
#include "arcturis_3389.dtsi"

&trackball_split {
	status = "disabled";
};

split_inputs {
    left: left_split@0 {
        compatible = "zmk,input-split";
        reg = <0>;
        kscan = <&kscan0>;
    };
};