#include "arcturis.dtsi"
#include "arcturis_3389.dtsi"
#include <dt-bindings/zmk/input_transform.h>

&default_transform {
	col-offset = <5>;
};

&spi0 {
    status = "okay";
};

&trackball {
    status = "okay";
};

&trackball_split {
	device = <&trackball>;
};

split_inputs {
    right: right_split@1 {
        compatible = "zmk,input-split";
        reg = <1>;
        kscan = <&kscan1>;
    };
};
