if SHIELD_ARCTURIS_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y     # LEFT = CENTRAL

endif

if SHIELD_ARCTURIS_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
    default n     # RIGHT = PERIPHERAL

endif

if SHIELD_ARCTURIS_LEFT || SHIELD_ARCTURIS_RIGHT

config ZMK_SPLIT
    default y

endif
